#Taller 7 - Lógica en la BD


#Enunciado
Su grupo cuenta con una base de datos con las siguientes tablas:

TABLE cliente (
*   id integer PRIMARY KEY,
*   nombre character varying(100),
* email character varying(100) NOT NULL,
*    telefono bigint NOT NULL,
*   clave character varying(12) NOT NULL
);

TABLE plato (
*    id SERIAL PRIMARY KEY
*   nombre character varying(100),
*    descripcion character varying(500),
*    ingredientes character varying(500),
*    precio integer
);

TABLE pedido (
*    id integer,
*   cliente integer,
*   plato character varying(100),
*   fecha date,
*   hora time
);


# Configuración inicial

a.- Para iniciar el servidor virtual, instalar la base de datos postgres,  importar los datos, debe correr el siguiente bloque:

In [ ]:
# install
!apt update
!apt install postgresql postgresql-contrib &>log
!service postgresql start
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"
# set connection
%load_ext sql
%config SqlMagic.feedback=False
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://@/postgres
!wget -cO - https://drive.google.com/uc\?export\=download\&id\=12BmcD9VmQYzLqTcLNEN1kNrZ457WZf5o > /content/dump.sql

#!wget https://drive.google.com/file/d/12BmcD9VmQYzLqTcLNEN1kNrZ457WZf5o/view?usp=sharing -o /content/dump.sql
# !wget https://drive.google.com/file/d/12BmcD9VmQYzLqTcLNEN1kNrZ457WZf5o/view?usp=drive_link -o /content/dump.sql
!psql postgres < /content/dump.sql
%sql set search_path to prueba;

b.- Ejecute la siguiente consulta para validar que la tabla cliente está cargada

In [ ]:
%sql select * from cliente;


c.- Ejecute la siguiente consulta para validar que la tabla cliente tabla pedido está cargada

In [ ]:
%sql select * from pedido;

d.- Ejecute la siguiente consulta para validar que la tabla plato está cargada

In [ ]:
%sql select * from plato;

NOTAS: Para ejecutar consultas
* Linea simple use el tag %sql
* multi-lineas use el tag %%sql:

## PREGUNTAS
## PREGUNTA 1
Crear una **TABLA TEMPORAL** llamada "Carrito", que corresponde a un carrito de compras conteniendo 1 solo pedido de 1 cliente (su numero de grupo) con múltiples platos y que contiene los siguientes atributos:
* idCliente, el número identificador del cliente
*idPlato, el número identificador del plato
* Cantidad, la cantidad de platos del pedido

# los datos son los siguientes:

* numero-de-grupo 31 1
* numero-de-grupo 32 2
* numero-de-grupo 33 3
* numero-de-grupo 34 4
* numero-de-grupo 35 5

## PREGUNTA 2
Crear una **TABLA** llamada "Solicitud" que corresponde a una solicitud de despacho para el delivery (no se debe especificar el delivery a usar) los atributos son:
* id, identificador  de la solicitud, serial
* idCliente, el número identificador del cliente
* idPedido, el número del pedido

## PREGUNTA 3
Crear una **VISTA** (view) llamada "Valor" conteniendo el valor total del pedido (1 tupla) y desplegarla, la vista contiene los siguientes atributos:
idCliente, el número identificador del cliente
Valor, consistente en el valor total del pedido


## Pregunta 4
Crear un **TRIGGER**  llamado "InsertaSolicitud" que cada vez que se inserte una compra  desde el carrito genere una solicitud de despacho (tabla Solicitud).
* Para probarlo ejecute la siguiente sentencia:
%%sql INSERT INTO pedido(id, cliente, plato, fecha, hora)
SELECT idcliente, idcliente, STRING_AGG(CAST(idplato AS CHAR(3)), ' '), CURRENT_DATE, CURRENT_TIME
FROM carrito
GROUP BY idcliente;
* Para mostrar el resultado ejecute
%%sql SELECT * from Solicitud where idCliente = numero-de-grupo

## Pregunta 5
Crear un **STORED PROCEDURE** llamado "ListaPedidos" que genere una lista de todos los pedidos de un cliente ingresado como parámetro y desplegarla ordenado por fecha (no hora)

Para probarlo ejecute SELECT * FROM ListaPedidos (numero-de-grupo);